#
# Original Author : Unknown
# Current Author  : Ian Brodowski
# Last Update     : Tuesday, February 16, 2016
# Script Name     : requirements.txt
# Script Purpose  : Installs all pip dependencies, this file needs to be in ~/work/Webology/Website/Reflektion/ClipIt
#
# Change History  :
#   * 20160216    : Cleanup of file, removed all commented-out lines for pycurl==7.19, Imaging-1.1.7.tar.gz and 
#                 :   pywapi-0.3.8.tar.gz
#				          :
#
#   * 20160211    : Commented out Imaging-1.1.7.tar.gz and pywapi-0.3.8.tar.gz
#				          :	Re-added pywapi from launchpad.net, because it is no longer available via pip repos
#				          :
#
#   * 20160209    : Commented out "pycurl==7.19"; fix was introduced directly into "install.sh"
#				          :	Re-added pywapi from launchpad.net, because it is no longer available via pip repos
#				          :
#
#   * 20160208    : Added pywapi from launchpad.net, because it is no longer available via pip repos
#				          :
#
#   * 20160205    : Removed duplicate entry for scipy
#                 : This file removes the dependency on package_install.sh
#                 :   Do not update package_install.sh with new depenencies, instead update this file
#                 : 
#                 :
#   * 20160203    : Requirements file for pip dependencies
#                 : 
#                 :
#

#
# Mandatory requirements without version specifiers
#
cython
redis
distribute
funcsigs
gensim
pbr
mock
newrelic
geoip2

#
# Requirements with version specifiers
#
scipy==0.14.0
scikit-learn==0.15.0
numpy==1.8.1
jsonschema==2.4.0
lxml==2.3.5
pyramid==1.3
matplotlib==1.4.3
user-agents==1.0.1
ua-parser==0.4.1
pyes==0.20.0
planout==0.5
gevent==0.13.8

#
# Specific files
#
git+git://github.com/bbangert/beaker_extensions.git
