#
# Original Author : Unknown
# Current Author  : Ian Brodowski
# Last Update     : Wednesday, February 3, 2016
# Script Name     : requirements.txt
# Script Purpose  : Installs all pip dependencies
#
# Change History  :
#   * 20160203    : Requirements file for pip dependencies
#                 : 
#                 :
#

#
# Mandatory requirements without version specifiers
#
easy_install pip
pytz

#
# Upgrades
#
--upgrade -r requirements-upgrade.txt

#
# Requirments without version specifiers
#
cython
redis
distribute
funcsigs
gensim
pbr
mock
newrelic
geoip2

#
# Requirements with version specifiers
#
scipy==0.14.0
scikit-learn==0.15.0
scipy==0.14.0
numpy==1.8.1
jsonschema==2.4.0
lxml==2.3.5
pycurl==7.19
pyramid==1.3
matplotlib==1.4.3
user-agents==1.0.1
ua-parser==0.4.1
pyes==0.20.0
planout==0.5
gevent==0.13.8

#
# Specific files
#
git+git://github.com/bbangert/beaker_extensions.git
http://effbot.org/media/downloads/Imaging-1.1.7.tar.gz 
